@import '~antd/dist/antd.css';

#root {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.ant-form {
    // max-width: 300px;
    // margin: 0 auto;
    width: 100%;

    legend {
        padding-bottom: 10px;
        text-align: center;
    }
}

.center-block {
    display: block;
    margin: 0 auto;
}

.container {
    padding-right: 24px;
    padding-left: 24px;
}
